## Algerian Forest Fires Dataset Project EDA Part

### 1. UNDERSTANDING THE GIVEN TASK

#### Task Given by instructor Krish Naik

- Solve in ipynb:
1. Import the dataset. https://archive.ics.uci.edu/ml/datasets/Algerian+Forest+Fires+Dataset++#
2. Do proper EDA(analysis) of your dataset and create a report
3. Then perform necessary preprocessing steps
4. Then create a classification and regression model for a given dataset
5. For regression use linear regression, ridge and lasso regression
6. In classification models try to use logistic regression, SVM, decisiontree, naive bayes and random forest along with hyperparameter tuning
- API Testing:
1. Now create a flask API for testing your model(via postman) or you can create an HTML page
2. While creating the API you have to perform single value prediction as well as bulk prediction.
3. Load your data via mongo db or mysql(for bulk prediction)
4. Try to perform api testing in a modular way
5. Do proper logging for your application.
6. Try to handle exceptions at each and every step.

### EDA
#### 1. Importing Libraries

#### 2. Getting dataset from UCI

#### 3. Storing the data into MongoDB Database

#### 4. Loading (Fetching) data from MongoDB Database

#### 5. Data Cleaning for EDA Report

#### 6. Exploratory Data Analysis (EDA) on all Features

#### 1. Importing LibrariesÂ¶

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from warnings import filterwarnings
filterwarnings("ignore")

#### 2. Getting dataset from UCI

In [9]:
df1 = pd.read_csv("Algerian_forest_fires_dataset.csv",header=1,skipfooter=1,
    skiprows=[i for i in range(125,253)]+[j for j in range(376,500)])

In [10]:
df1.shape

(245, 1)

In [11]:
df2 = pd.read_csv("Algerian_forest_fires_dataset.csv",header=125,skipfooter=1,
                 skiprows=[i for i in range(250,378)])

In [12]:
df1.head()

                                                                  Bejaia Region Dataset
day month year Temperature  RH  Ws Rain  FFMC DMC DC  ISI BUI FWI              Classes
01  06    2012 29          57  18  0     65.7 3.4 7.6 1.3 3.4 0.5            not fire
02  06    2012 29          61  13  1.3   64.4 4.1 7.6 1   3.9 0.4            not fire
03  06    2012 26          82  22  13.1  47.1 2.5 7.1 0.3 2.7 0.1            not fire
04  06    2012 25          89  13  2.5   28.6 1.3 6.9 0   1.7 0              not fire

In [13]:
df1.reset_index(inplace=True)

In [14]:
df1.columns = df1.iloc[0]
df1 = df1.iloc[1:]
df1.head()

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes
1,01,06,2012,29,57,18,0,65.7,3.4,7.6,1.3,3.4,0.5,not fire
2,02,06,2012,29,61,13,1.3,64.4,4.1,7.6,1,3.9,0.4,not fire
3,03,06,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire
4,04,06,2012,25,89,13,2.5,28.6,1.3,6.9,0,1.7,0,not fire
5,05,06,2012,27,77,16,0,64.8,3,14.2,1.2,3.9,0.5,not fire

In [15]:
# removing the duplicates
df1.drop_duplicates(inplace=True)

In [16]:
df1.shape

(122, 14)

In [23]:
region = "Bejaia"
df1["region"] = region
df1.head()

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes,region
1,01,06,2012,29,57,18,0,65.7,3.4,7.6,1.3,3.4,0.5,not fire,Bejaia
2,02,06,2012,29,61,13,1.3,64.4,4.1,7.6,1,3.9,0.4,not fire,Bejaia
3,03,06,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire,Bejaia
4,04,06,2012,25,89,13,2.5,28.6,1.3,6.9,0,1.7,0,not fire,Bejaia
5,05,06,2012,27,77,16,0,64.8,3,14.2,1.2,3.9,0.5,not fire,Bejaia

In [18]:
# Now repeat it for the second df2
df2.reset_index(inplace=True)
df2.columns = df2.iloc[0]
df2 = df2.iloc[1:]
df2.head()

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes
1,01,06,2012,32,71,12,0.7,57.1,2.5,8.2,0.6,2.8,0.2,not fire
2,02,06,2012,30,73,13,4,55.7,2.7,7.8,0.6,2.9,0.2,not fire
3,03,06,2012,29,80,14,2,48.7,2.2,7.6,0.3,2.6,0.1,not fire
4,04,06,2012,30,64,14,0,79.4,5.2,15.4,2.2,5.6,1,not fire
5,05,06,2012,32,60,14,0.2,77.1,6,17.6,1.8,6.5,0.9,not fire

In [19]:
df2.shape

(244, 14)

In [21]:
# removing the duplicates
df2.drop_duplicates(inplace=True)
df2.shape

(122, 14)

In [24]:
region_2 = "Sidi-Bel Abbes"
df2["region"] = region_2
df2.head()

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes,region
1,01,06,2012,32,71,12,0.7,57.1,2.5,8.2,0.6,2.8,0.2,not fire,Sidi-Bel Abbes
2,02,06,2012,30,73,13,4,55.7,2.7,7.8,0.6,2.9,0.2,not fire,Sidi-Bel Abbes
3,03,06,2012,29,80,14,2,48.7,2.2,7.6,0.3,2.6,0.1,not fire,Sidi-Bel Abbes
4,04,06,2012,30,64,14,0,79.4,5.2,15.4,2.2,5.6,1,not fire,Sidi-Bel Abbes
5,05,06,2012,32,60,14,0.2,77.1,6,17.6,1.8,6.5,0.9,not fire,Sidi-Bel Abbes

In [25]:
# Now combine the two datasets
df = df1.append(df2, ignore_index=True)
df.rename(columns = {"Classes  " : "classes"," RH" : "rh",
                    " Ws" : "ws", "Temperature":"temperature",
                    "Rain " : "rain"},inplace=True)

#### 3. Storing the data into MongoDB Database

In [34]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://mongodb:mongodb@sreeman."
                             "jzldx.mongodb.net/myFirstDatabase?"
                             "retryWrites=true&w=majority",tls=True,
                             tlsAllowInvalidCertificates=True)
db_test = client.test
print(db_test)

Database(MongoClient(host=['sreeman-shard-00-01.jzldx.mongodb.net:27017', 'sreeman-shard-00-00.jzldx.mongodb.net:27017', 'sreeman-shard-00-02.jzldx.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-6iit9f-shard-0', tls=True, tlsallowinvalidcertificates=True, tlsdisableocspendpointcheck=True), 'test')

In [36]:
# database creation
db = client["Forest_Fire"]
# collection creation for the db
coll1 = db["Raw_data_forest_fire"]

In [37]:
# Insert DataFrame
dataset = df.to_dict(orient = "records")
coll1.insert_many(dataset)
print("All the Data has been Exported to MongoDB Successfully")

#### 4. Loading (Fetching) data from MongoDB Database

In [42]:
client.list_database_names()

['Employee', 'Forest_Fire', 'admin', 'local']

In [44]:
db_new = client.get_database("Forest_Fire")

In [45]:
db_new.list_collection_names()

['Raw_data_forest_fire']

In [54]:
records = db_new.get_collection("Raw_data_forest_fire")
list_records = list(records.find())
df_new = pd.DataFrame(list_records)
df_new.drop("_id",axis=1,inplace=True)
df_new.head()

,day,month,year,temperature,rh,ws,rain,FFMC,DMC,DC,ISI,BUI,FWI,classes,region
0,01,06,2012,29,57,18,0,65.7,3.4,7.6,1.3,3.4,0.5,not fire,Bejaia
1,02,06,2012,29,61,13,1.3,64.4,4.1,7.6,1,3.9,0.4,not fire,Bejaia
2,03,06,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire,Bejaia
3,04,06,2012,25,89,13,2.5,28.6,1.3,6.9,0,1.7,0,not fire,Bejaia
4,05,06,2012,27,77,16,0,64.8,3,14.2,1.2,3.9,0.5,not fire,Bejaia

In [55]:
df_new.shape

(244, 15)

#### 5. Data Cleaning for EDA Report